# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.pytest_cache/


# Jupyter Notebook
.ipynb_checkpoints
prototype*

# Scrapy stuff:
.scrapy

draft/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/
