# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.pytest_cache/

# Log files
*.log

# Jupyter Notebook
.ipynb_checkpoints
prototype*

# Scrapy stuff:
.scrapy

draft/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Thesis (Latex stuff)
*.pdf
*.blg
*.bbl
*.aux
*.lof
*.synctex.gz
*.toc
*.dvi
*.fls
*.nls
*.nlo
*.fdb_latexmk
*.lot
!*/figs/*.pdf
